/PrimerParcial-Java/nbproject/private/
/PrimerParcial-Java/build/
/PrimerParcial-Java/dist/
/SegundoExamen-Java/nbproject/private/
/SegundoExamen-Java/build/
/SegundoExamen-Java/dist/
/PrimerExamen-Java/nbproject/private/
/PrimerExamen-Java/build/
/PrimerExamen-Java/dist/
/Tema-I-Java/nbproject/private/
/Tema-I-Java/build/
/Tema-I-Java/dist/